.footer {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #6900A7;
    height: 150px;
    margin-top: 2em;
    color:  white;
    border-top: 3px solid #A30092;
}

.footer span {
    font-weight: bold;
}


@media (min-width: 400px) and (max-width: 600px) {

    .footer { 
        width: 100vw;
    }
}